body {
    margin: 0%;
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
}

.game_section {
    font-size: x-large;
}

.game_color_button {
    font-size: xx-large;
}

.game_control_button {
    height: 35px;
    font-size: medium;
}